POSTGRES_USER=ecom
POSTGRES_PASSWORD=ecom
POSTGRES_DB=ecom
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_SSLMODE=disable
DATABASE_URL=postgres://ecom:ecom@localhost:5434/ecom?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://ecom:ecom@localhost:5434/ecom?sslmode=disable
GOOSE_MIGRATION_DIR=./sql/migrations
